#igs {
  padding: 0px;
  margin: 0px;
}
#igs .ig {
  position: absolute;
}
.btn {
  position: absolute;
  height: 100px;
  width: 60px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
  top: 200px;
  cursor: pointer;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}
.btn2 {
  left: 1070px;
}
#tabs {
  position: absolute;
  top: 450px;
  left: 500px;
}
#tabs .tab {
  width: 10px;
  height: 10px;
  float: left;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  margin-right: 25px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  cursor: pointer;
}
.bg {
  background: #ffffff;
}
